<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <!--Bootstrap 4 -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Custom CSS -->

    <title>Hab disponibles </title>
  </head>
  <body>

    <!--Navegación-->
    <%include ../partials/header%>

    <!-- Cabecera -->
    <header class="cabecera-principal">

      <div class="background text-white py-5 ">
        <div class="container">
          <div class="row">
            <div class="col">

              <h1 class="display-4">Listado de habitaciones disponibles</h1>

              <hr class="my-4">

              <a class="btn btn-warning btn-lg" href="#" role="button">Listar Hab. disponibles</a>
            </div>




          </div>
        </div>
      </div>
    </header>

    <center>
    <!--<div class="background text-white py-5">

            <img src="img/imgPrueba.png" alt="imagen" class="img-fluid">

    </div>-->

    <div class="background text-black py-5">
      <h1 class="page-header">Habitaciones disponibles </h1>

      <table class="table table-striped" style="width:70%;">
        <thead>
          <tr>
            <th style="width:180px;">Código Hab.</th>
            <th style="width:120px;">Tipo</th>
            <th style="width:120px;">Disponibilidad</th>
            <th style="width:120px;">Precio</th>
            <th style="width:120px;">Fecha proxima reserva</th>
            <th style="width:120px;">Descripcion</th>
          </tr>
        </thead>

      </table>

    </div>

    <!-- Pie de pagina -->
    <%include ../partials/footer%>
  </center>
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript -->
  </body>
</html>
