<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles-req11.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Cambiar el precio de una habitación de acuerdo a su tipo</title>
</head>

<body>
<% include ../partials/header%>
  <!--Imagen hotel-->
  <div
    style="background-image: url(https://q-ec.bstatic.com/images/hotel/max1024x768/681/68184730.jpg);background-size: cover; background-repeat: no-repeat; width: 100%; height: 600px; opacity: 1;">
  </div>
  <div class="container prices">

   <form method="POST" action="req11">

      <!--inputs plus labels-->
      <label for="">Elija la habitacion a modificar:</label>
      <select class="form-control" id="form" name="form">
      <%rooms.forEach(room => {%>
          <option value="<%=room.id%>">Numero habitación: <%= room.id %> Tipo: <%= room.type%></option>
        <%})%>
      </select>

      <br>

      <label for="...">Escriba el valor para modificar el valor de esta habitación</label>
      <input type="number" class="form-control" name ="price" id="price">
      <br>
      <button type="submit" value="confirmar" class="btn btn-success">Confirmar</button>
    </form>
    
  </div>
 
<% include ../partials/footer%>
<script src="/js/lib/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<%try{
      if(message){%>
        <script>
        $('document').ready= ()=>{alert(message)}
        </script>
      <%}
    }catch(e){}%>
</body>


</html>
