<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel=StyleSheet href="Requerimiento10.css"> 
    <!-- Custom CSS -->

  </head>
  <body>
     <!--Navegación-->
   <%include ../partials/header%>
    <!-- Cabecera -->
    <header class="cabecera-principal">
      <div class="background text-white py-5 cabeceraAzul">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="display-4">Listado de habitaciones ocupadas</h1>
              <center>
                <a class="btn btn-light btn-lg" href="#" role="button">Listar Habitaciones ocupadas</a>
              <center>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Cabecera -->
    <center>
      <!-- Tabla -->
      <div id ="main-container">
        <h1>Habitaciones ocupadas </h1>
        <table>
          <thead> 
            <tr>
              <th>Código habitacion</th>
              <th>Titular</th>
              <th>Tipo</th>
              <th>Ubicación</th>
              <th>Numero Habitacion</th>
              <th>Fecha check-out</th>
            </tr>
          </thead>
          <tr>
            <td >1234</td>
            <td >Sergio Cadena</td>
            <td >f</td>
            <td >Piso 3</td>
            <td >304</td>
            <td >12-Mayo </td>
          </tr>
          <tr>
            <td >1234</td>
            <td >Sergio Cadena</td>
            <td >f</td>
            <td >Piso 3</td>
            <td >304</td>
            <td >12-Mayo </td>
          </tr>
          <tr>
            <td >1234</td>
            <td >Sergio Cadena</td>
            <td >f</td>
            <td >Piso 3</td>
            <td >304</td>
            <td >12-Mayo </td>
          </tr>
          <tr>
            <td >1234</td>
            <td >Sergio Cadena</td>
            <td >f</td>
            <td >Piso 3</td>
            <td >304</td>
            <td >12-Mayo </td>
          </tr>
        </table>
       </div>
      <!-- Tabla -->
    </center>

    <!-- Pie de pagina -->

    <%include ../partials/footer%>
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript -->
  </body>
</html>