<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <!--Bootstrap 4 -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- Custom CSS -->

    <title></title>
  </head>
  <body>

    <!--Navegación-->
    <%include ../partials/header%>
    <!--Navegación-->


      <header class="cabecera-principal">
        <div class="background text-white py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-6 text-center">
                <h1>Buscar precio total</h1>

                  <form action="/req4" method="get">
                    <div class="form-group">
                      <label for="formGroupExampleInput">Número de identificación</label>
                      <input name="id" type="text" class="form-control"  required>
                    </div>
                    <div class="form-group">
                       <label for="exampleFormControlSelect1">Tipo de Habitación</label>
                       <select name="opcion" class="form-control" id="exampleFormControlSelect1">
                         <option>Superior Room</option>
                         <option>Single Room</option>
                         <option>Deluxe Room</option>
                         <option>Guest House</option>
                       </select>
                    </div>
                    <div class="form-group">
                      <label for="formGroupExampleInput2">Número de noches</label>
                      <input name="n_noches" type="text" class="form-control" id="formGroupExampleInput2" placeholder="1......N" required>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Buscar">
                  </form>

              </div>

              <div class="col-md-6 text-center" >
                <img src="/img/imgSigno.png" width="390" alt="imagen" class="img-fluid">
              </div>

            </div>
          </div>
        </div>
    </header>

    <br>
    <center>
    <div class="col-md-10 text-center">
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Tipo de Habtación</th>
                  <th scope="col">Número de noches</th>
                  <th scope="col">Precio Total</th>
                </tr>
                <% for(var i=0; i< data.length; i++){ %>
                  <% if (data[i].place == "Free"){%>
                    <tr>
                      <td><%= data[i].id %></td>
                      <td><%= data[i].type %></td>
                      <td><%= data[i].bedding %></td>
                      <td><%= data[i].place %></td
                    </tr>
                  <% }%>
                <% }%>
            </thead>
        </table>
    </div>
    </center>

    <%include ../partials/footer%>

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript -->

  </body>
</html>
