<!DOCTYPE html>
<html>
  <head>
    <title>Habitaciones</title>
    <link rel="stylesheet" type="text/css" href="/css/estilo.css">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  </head>
  <body>
    <% include ../partials/header%>
    <div id="principal">
      <header>
        <div id="logo">
          <h2 class="titulo">Hotel</h2>
          <p class="sub-titulo">Instalaciones del hotel</p>
        </div>
      </header>
      <section id="slide">
        <img src="img/slide.jpg" width="900" height="250">
      </section>
      <section id="categorias">
        <section class="uno">
          <img src="img/habitaciones.jpg" width="250" height="150" >
          <h2>Habitaciones para pareja o persona sola</h2>
          <p class="parrafo">
            Estas habitaciones estan disponibles para persona solo o que desee estar en compa침ia de su pareja.
          </p>
          <a href="req5_1.html" class="leer-mas">Leer m치s</a><br><br>
        </section>
        <section class="uno dos">
          <img src="img/familiar.jpg" width="250" height="150" >
          <h2>Habitaciones familiares de 4 a 6 personas</h2>
          <p class="parrafo">
            Estas estan disponibles para familias no muy numerosas ya que constan de cutro camas en una sola habitacion.
          </p>
          <a href="req5_2.html" class="leer-mas">Leer m치s</a><br><br>
        </section>
        <section class="uno">
          <img src="img/junior.jpg" width="250" height="150" >
          <h2>Habitaciones junior <h2>suites</h2></h2>
          <p class="parrafo">
            Habitaciones conocidas por ser las mas lujosas del hotel.
          </p>
          <a href="req5_3.html" class="leer-mas">Leer m치s</a><br><br>
        </section>
      </section>
      <footer>
      </footer>
        <%include ../partials/footer%>
      
    </div>

  </body>
</html>