<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Bootstrap 4 -->
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <!--Bootstrap 4 -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles-req6.css">
    <!-- Custom CSS -->

    <title>Software Hotel</title>
  </head>
  <body>

    <!--Navegación-->
    <%include ../partials/header%>

    <header class="cabecera-principal">
      <div class="background text-white py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center">
              <h1>Reservacion de Habitaciones</h1>

            </div>

            <div class="col-md-6">
              <img src="img/imgPrueba.png" alt="imagen" class="img-fluid">
            </div>



          </div>
        </div>
      </div>
  </header>
  <div class="form-registro">
    <br><h3>Reservacion de la habitacion</h3><br>
    <back>
      <form method="POST" action="nuevareserva">
        <div class="contenedor-inputs">
        <input type="text" id="text" name="nombre" placeholder="Nombre"class="input-100" required>
        <input type="text" id="text" name="Identificacion" placeholder="Numero de Identificacion"class="input-100" required >
        <input type="text" id="text" name="Habitacion" placeholder="Numero Habitacion"class="input-100" required>
         <h4 class="input-48">Datos extras</h4>
        <input type="text" id="text" name="Personas" placeholder="Numero de personas"class="input-100" required>
        <input type="text" id="text" name="Entrada" placeholder="Fecha de entrada"class="input-100" required>
        <input type="text" id="text" name="Salida" placeholder="Fecha de salida"class="input-100" required>
        <input type="text" id="text" name="Dias" placeholder="Numero de dias"class="input-100" required>
        Mascota<input type="radio" name="mascota" value="1">Si <input type="radio" name="mascota" value="2"> No
         <h4 class="input-48">Servicios extras</h4>
        Gimnasio<input type="checkbox" name="extras" value="1">
        Piscina<input type="checkbox" name="extras" value="2">
        <br>
        <input type="submit" value ="Reservar" id="submit" name="submit" class="enviar" required/>
        </div>
      </form>
    </back>
  </div>

  <% include ../partials/footer%>

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap JavaScript -->

  </body>
</html>
