<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles_req8.css"
    
  </head>

  <body>
  		<header><!--Incio del header-->
<div class="wrapper">
		  <div id="logo"><!--Declaracion de imagen del logo con su texto-->
        <a href="/"><img src="/img/1.jpg" width="120" height="120" align="left"></a>
		  </div><!--Fin de declaracion-->

  		<nav class="navegacion">
			 <ul class= "menu"><!--Opciones en el menu-->

				  <li><a href="/">Home</a></li>
				  <li><a href="https://github.com/spuertogarauniminuto/ing-software201910">Source</a></li>

				  <li><a href="">Requerimiento</a>
            <ul class="submenu">
              <li><a href="req1.html">Requerimiento 1</a></li> 
              <li><a href="req2.html">Requerimiento 2</a></li> 
              <li><a href="req3.html">Requerimiento 3</a></li>
              <li><a href="req4.html">Requerimiento 4</a></li> 
              <li><a href="req5.html">Requerimiento 5</a></li> 
              <li><a href="req6.html">Requerimiento 6</a></li> 
              <li><a href="req7.html">Requerimiento 7</a></li> 
              <li><a href="req8.html">Requerimiento 8</a></li> 
              <li><a href="req9.html">Requerimiento 9</a></li> 
              <li><a href="req10.html">Requerimiento 10</a></li>  
              <li><a href="req11.html">Requerimiento 11</a></li>
              <li><a href="req12.html">Requerimiento 12</a></li>
              <li><a href="req13.html">Requerimiento 13</a></li>
              <li><a href="req14.html">Requerimiento 14</a></li>
              <li><a href="req15.html">Requerimiento 15</a></li>
              <li><a href="req16.html">Requerimiento 16</a></li>
            </ul> 
				  </li><!--fin de lista desplegable en el menu-->

			 </ul><!--Fin de Opciones en el menu-->
		  </nav>
      </div>
	 </header><!--Fin del header-->
	
	<section id="categoria">

   <h3>Listado de las habitaciones ocupadas:</h3> 
   
	</section><!--/fin de las categorias-->

    <% include ../partials/footer%>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>