html{
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

body{
	background-color: #9AD1ED;
}

/* footer de la pagina*/
footer {
  align-self: flex-end;
  font-family: cursive;
  line-height: 6;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.cabeceraAzul{
  background: #56CCF2;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
}
.cabecera-principal {
  background: #000428;  
  background: -webkit-linear-gradient(to right, #004e92, #000428);  
  background: linear-gradient(to right, #004e92, #000428); 
}

.navbar{
  box-shadow: 2px 2px 5px #000;
}

.container{
	max-width: 450px;
	height: auto;
	background-color: #EFEFEF;
	margin: 5% auto;
	padding-bottom: 1rem;
}
.form_top{
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #F39B53;
	margin-bottom: 1rem;
}

.form_top h1{
	font-weight: bold;
	color: #3a3434;
	font-size: 18px;
}

h1 span{
	color: #F39B53;
}

.form_reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn_form{
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn_submit, .btn_reset{
	background-color: #EFEFEF;
	padding:.5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}
.input:focus {
	border-bottom: solid #F39B53 .2rem;
}
.btn_submit, .btn_reset {
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
}

.btn_reset{
	background-color: #EDA135;
}

.btn_submit:hover {
	background-color: #4C9ED9;
}

.btn_reset:hover {
	background-color: #FA9535;
}
